/*p {
  font-size: 14px;
  border: 1px solid;
  height: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

h1, h2, h3, h4, h5, h6 {
  color: red;
}

.mainPopular {
  max-width: 540px;
  max-height: 400px;
  border: 1px double;
  /*padding: 8px;*/
  margin-bottom: 25px;
}

.image {
  width: 255px;
  height: 375px;
  margin-left: -30px;
}

.rating {
  margin-top: 10px;
}

.title {
  color: red;
}


.overview {
  max-height: 200px;
  overflow: hidden;
}