
input:focus {
    outline: 0;
}

.section {
  font-size: 16px;
  color: red;
}

.filter {
  margin-left: -35px;
}


.mainPopular {
  width: 540px;
  height: 377px;
  margin-bottom: 25px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.image {
  width: 255px;
  height: 375px;
  margin-left: -30px;
}

.info {
  max-width: 100%;
  margin-left: -25px;
}

.rating {

  font-weight: bold;
  margin-top: 10px;
  
}

.rateIcon {
  color: orange;
}

.rateNumber {
  width: 100px;
}

.title {
  width: 150px;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.genres {
  color: #1386D8;
  font-style: oblique;
  /*height: 45px;*/
}
.overview {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 225px;
  height: 176px; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 15;
  line-height: 1;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dateRelease {
  
  font-size: 13px;
}

.date {
  font-style: italic;
  color: red;
  font-size: 15px;
}

.searchField {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.searchField input {
  width: 250px;
  height: 32px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.searchField input { text-indent: 32px;}
.searchField i  {
  color: black;
  width: 15px; 
  position: absolute;
  left: 0px;
  top: 15px;
  margin-left: 480px;
}

.pagination > li > a {
  color: red;
  margin-top: 0px;
  font-size: 15px;
  font-weight: bold;
  
}

.filterBox {
  margin-right: 55px;
  color: #379594;
}

.select {
   width: 200px;
   height: 35px;
   overflow: hidden;
   background: url("../image/arrowdown.png") no-repeat right;
   border: 2px solid #379594;
   }

.select select {
   background: transparent;
   width: 200px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 35px;
   color: #379594;
   -webkit-appearance: none;

}


#keywordInput {
   background: transparent;
   width: 200px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 35px;
   -webkit-appearance: none;
   border: 2px solid #379594;
}


#background-one {
  background-image: url("../image/movie-one.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 /* width: 1500px;*/
  height: 225px;


}

#searchText {
  color: black;
  width: 450px;
  height: 46px;
  border-radius: 25px;

}

#searchButton {
  width: 150px;
  height: 33px;

  color: red;
  border-radius: 10px;
  background-color: white;

 
}

#mainTitle {
  color: white;
 
}

::-webkit-input-placeholder::before { 
  font-family: fontAwesome;
  font-size: 18px;
  margin-left: -20px; 
  content:'\f002  '; 
  color: red; 
}

#sortByContainer {
  margin-left: 10px;
}

#genreButton {
  display: none;
}







