
input:focus {
    outline: 0;
}

.section {
  font-size: 16px;
  color: red;
}

.mainPopular {
  width: 540px;
  height: 377px;
  margin-bottom: 25px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.image {
  width: 255px;
  height: 375px;
  margin-left: -30px;
}

.info {
  max-width: 100%;
  margin-left: -25px;
}

.rating {
  margin-top: 10px;
  
}

.rateNumber {
  width: 100px;
}

.title {
  width: 150px;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.genres {
  color: #1386D8;
  font-style: oblique;
  /*height: 45px;*/
}
.overview {
  display: block;
  display: -webkit-box;
  width: 225px;
  height: 197px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1;
  -webkit-line-clamp: 14;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dateRelease {
  font-style: italic;
  font-size: 13px;
}

.date {
  color: red;
  font-size: 15px;
}

.searchField {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.searchField input {
  width: 250px;
  height: 32px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.searchField input { text-indent: 32px;}
.searchField i  {
  color: black;
  width: 15px; 
  position: absolute;
  left: 0px;
  top: 15px;
  margin-left: 480px;
}

.pagination > li > a {
  color: red;
  margin-top: 0px;
  font-size: 15px;
  font-weight: bold;
  
}

#background-one {
  background-image: url("../image/movie-one.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 /* width: 1500px;*/
  height: 225px;


}

#searchText {
  color: black;
  width: 450px;
  height: 46px;
  border-radius: 25px;

}

#searchButton {
  width: 150px;
  height: 33px;

  color: red;
  border-radius: 10px;
  background-color: white;

 
}

#mainTitle {
  color: white;
 
}

::-webkit-input-placeholder::before { 
  font-family: fontAwesome;
  font-size: 18px;
  margin-left: -20px; 
  content:'\f002  '; 
  color: red; 
}








